.reg-window { 
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.user-info { 
    width: 100%; 
    height: 250px;
    // background-image: linear-gradient(direction, #f9f8fa, white );
    background-color:#f9f8fa; 
    display: flex; 
    border-radius: 4px; 
}

.prof-pic-show{ 
    width: 125px;
    height: 125px;
    // border-radius: 125px;
    padding-top: 80px; 
    padding-left: 50px; 
}

.name-title-div { 
    display: flex; 
    flex-direction: column; 
    padding-top: 110px; 
    padding-left: 20px; 
}

.reg-likes span { 
    color: #4B4D63; 
    font-size: 14px; 
    font-weight: 200; 
    // padding-left: 10px; 
}

.like-me { 
    padding-left: 10px; 

}

.reg-likes span:not(:last-child):after{
    content: " \2219 ";
}

.backsplash { 
    margin-left: 50px; 
    margin-right: 50px; 
    box-shadow: 2px 2px 2px 2px lightgrey; 
    padding-bottom: 100px; 
    // border-radius: 5px; 
    // z-index: 5; 
}

.name-title { 
    color: #1e0a3c;
    font-size: 30px; 
    font-weight: 600; 
    padding-left: 5px; 
}

.event-list { 
    margin-left: 400px; 
}

.reg-photo { 
    height: 200px;
    width: 400px;
    padding-top: 10px; 
    padding-left: 40px;  
}

.title-event { 
    margin-left: 400px; 
    padding-top: 40px; 
    margin-bottom:20px; 
    color: #1e0a3c;
    font-size: 18px; 
    font-weight: 500px;
}

.reg-item-content { 
    width: 200px;
    padding-left: 10px; 
}

.reg-item { 
    height: 265px;
    width: 683px;
    margin-bottom: 20px; 
    border-radius: 5px; 
    display: flex; 
}

.reg-title {
    font-size: 28px; 
    color: #1e0a3c;
    font-weight: 600; 
}

.reg-start { 
    color: grey; 
    padding-top: 30px; 
}

.reg-location { 
    color: #1e0a3c;
    padding-top: 30px; 
}

.reg-item:hover { 
    box-shadow: 2px 2px 2px 2px lightgrey; 

}

.event-likes{
    margin-left: 400px; 
    margin-top: 100px; 
}

.event-like-p { 
    // padding-top: 40px; 
    margin-bottom:20px; 
    color: #1e0a3c;
    font-size: 18px; 
    font-weight: 500px;
}

