.user-info { 
    width: 100%; 
    height: 250px;
    background-color:#f9f8fa; 
}

.prof-pic{ 
    width: 125px;
    height: 125px;
    // border-radius: 125px;
    padding-top: 80px; 
    padding-left: 50px; 
}