.signup-container { 
    display: flex; 
    flex-direction: column; 
    margin-top: 10%; 
    align-items: center;
}

.form-signup { 
    display: flex; 
    flex-direction: column;
    width: 425px; 
    height: 425px;
    align-items: center;
}


.form-signup input { 
    border: solid pink 1px; 
    width: 425px; 
    height: 50px; 
    border-radius: 3px;
    margin: 10px; 
    padding-left: 10px;  

}

.names {

}


.form-signup label{ 
    font-family: Helvetica,Arial,sans-serif;
}

.signup-container h2 { 
    font-size: 25px; 
    font-weight: bold; 
    font-family: Helvetica,Arial,sans-serif;
    padding-bottom: 30px;
}

.form-signup button { 
    border: solid pink 1px; 
    width: 425px; 
    height: 40px; 
    text-align: center;
    background-color: pink;
    border-radius: 3px;
    font-family: Helvetica,Arial,sans-serif;
    color: grey;
}

.form-signup button:hover { 
    color: grey; 
}